<!doctype html>
<link rel="stylesheet" type="text/css" href="/index.css" media="screen"/>
<html>
<div id="menu-nav">
  <div id="navigation-bar">
    <ul>
      <li><a href='/search'><i class="fa fa-home"></i><span>Browse Type</span></a></li>
      <li><a href='/orders'><i class="fa fa-handshake"></i><span>My Orders</span></a></li>
      <li><a href='/profile'><i class="fa fa-user"></i><span>Account</span></a></li>
      <li><a href='/newsale'><i class="fa fa-book"></i><span>List New Item</span></a></li>
      <li><a href='/myitems'><i class="fa fa-book"></i><span>My Items</span></a></li>
	    <li><a href='/checkout'><i class="fa fa-rss"></i> <span>Checkout</span></a></li>
    </ul>
  </div>
  
  </div>
<head>
	<title>Demo Page</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>
	{{{body}}}
</body>
</html>