<h1>Checkout</h1>

<form id='checkout-from' action='/thank' method='get'>
Total Cost: <label>{{total}}</label><br>
Universal Credit Number: <input type="text"><br>
Confirm Purchase: <input type='submit' name='submit'><br>
</form>


</form>